= form_for(@publicacion) do |f|
  = render 'error_messages', target: @publicacion, gender: 'female'

  .checkbox
    %label
      = f.check_box :leer_de_url
      Leer de url
  .form-group
    = f.label :url_original
    = f.text_field :url_original, class: "form-control"
  .form-group.not_for_url
    = f.label :titulo
    = f.text_field :titulo, class: "form-control"
  .form-group.not_for_url
    = f.label :texto
    = f.text_area :texto, class: "form-control"
  .form-group.not_for_url
    = f.label :nombre_autor
    = f.text_field :nombre_autor, class: "form-control"
  .form-group
    = f.label :tipo_id
    = f.select :tipo_id, TipoPublicacion.all.map { |tp| [tp.nombre, tp.id] }, class: "form-control"
  .actions
    = f.submit class: "btn btn-primary"
