!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title= content_for?(:title) ? yield(:title) : "Sevakindle"
    %meta{:content => yield(:author), :name => "author"}/
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            %li{:role => "presentation", class: controller_name == 'cuentos' || controller_name == 'publicaciones' ? "active" : ""}= link_to "Cuentos", cuentos_path
            %li{:role => "presentation", class: controller_name == 'autores' ? "active" : "" }= link_to "Autores", autores_path
        %h3.text-muted Sevakindle
      .content
        - if notice
          .alert.alert-success.alert-dismissible{:role => "alert"}
            %button.close{"data-dismiss" => "alert"} ×
            = notice
        - if alert
          .alert.alert-error.alert-dismissible{:role => "alert"}
            %button.close{"data-dismiss" => "alert"} ×
            = alert
        = yield
      / /row
      %footer.footer
        %p
          © ApuX
          = Date.current.year
    / /container
